*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    /* color : white; */
    font-family: "Open Sans", sans-serif;
    /* font-size: 12px; */
}

body{
    font-family: "Open Sans", sans-serif;
}

.logo{
    color : white;
}
a{
    text-decoration: none;
    /* color : black; */
    color : white;
    text-transform: capitalize;
    font-weight : 300;
}


ul{
    list-style : none;
}

ul li{
    font-size: 14px;
    letter-spacing: 1px;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border : 2px solid red; */
    min-height : 12vh;
}
.nav-items{
    display: flex;
    gap : 2rem;
}

.container{
    max-width : 1200px;
    width : 90%;
    margin : auto;
}

header{
    width : 100%;
    height : 65vh;
    background : linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5) , rgba(0,0,0,.5)) , url('./trees.jpg');
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    object-position: center;
    position: relative;
}

.main-content{
    /* border : 2px solid red; */
    position: absolute;
    top : 50%;
    left : 50%;
    transform : translate(-50% , -50%);
    text-align: center;
}

.main-content p{
    color : white;
    font-size: 14px;
    font-weight: 300;
    line-height: 28px;
}
.main-content h1{
    font-size: 2.5rem;
    color : white;
}
.btns{
    margin-top : 2rem;
    display: flex;
    align-items: center;
    gap : 2rem;
    justify-content: center;
}

button{
    display: inline-block;
    width : 10rem;
    height : 2.4rem;
    font-weight : 600;
    cursor: pointer;
    border : none;
    outline: none;
    color : black;
    background-color: white;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;

    /* text-transform: capitalize; */
    border-radius: .2rem;
}

.task-list{
    color : black;
}

.task-list h2{
    color : black;
    text-align: center;
    margin : 1.4rem 0;
}
::placeholder{
    color : black;
    letter-spacing: 1px;
}
.task-list form{
    /* border : 2px solid red; */
    max-width : 800px;
    width : 95%;
    margin : auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list  input[type="text"]{
    display: inline-block;
    width : 75%;
    min-height: 2.6rem;
    border : none;
    outline: none;
    color : black;
    text-transform: capitalize;
    padding: 0 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.197);
    border-radius: .4rem;
}

.task-list  input[type="submit"]{
    display: inline-block;
    width : 23%;
    border : none;
    outline : none;
    background-color: black;
    color : white;
    text-transform: capitalize;
    font-weight : 400;
    min-height: 2.6rem;
    border-radius: .4rem;
}

.sign-up-form{
    /* margin : 1rem 0; */
    /* text-align: center; */
    /* border : 2px solid red; */
    max-width : 800px;
    width : 90%;
    margin-top : 2rem;

}

.sign-up-form h2{
    margin : 1.5rem 0;
}

label{
    display: block;
    margin-bottom: .6rem;
    font-size : 14px;
    font-weight: 500;
    text-transform: capitalize;
}

.input-field{
    margin : .6rem 0;
}

.input-field input{
    border : none;
    outline: none;
    width : 100%;
    display: inline-block;
    /* box-shadow: 0px 0px 5px black; */
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.197);
    padding: .5em 1em;
    text-transform: capitalize;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    border-radius: .2rem;
}
.sign-up-form button{
    background-color: black;
    color : white;
    display: inline-block;
    margin : 1.5rem 0;
}

@media (max-width : 500px){
    *{
        font-size : 14px;
    }

    .sign-up-form button{
        height : auto;
        width : auto;
        padding: .7rem 1.5rem;
    }
    .sign-up-form h2{
        font-size: 18px;
    }
    .input-field{
        margin-bottom: 1rem;
    }

    header .nav-bar{
        flex-direction: column;
        /* gap : 1rem; */
        /* border : 2px solid red; */
        /* margin: 8rem!important; */
    }
    .task-list h2{
        font-size: 18px;
    }
    .main-content h1{
        margin-top: 2rem;
    }
    .logo{
        font-size: 22px;
        margin-bottom: 0;
        margin-top: 1rem;
    }
    .nav-items{
        /* border : 2px solid red; */
        margin: 1rem 0;
        gap : 1.8rem;
    }
}